<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/ico/seqaln.ico">
    <link rel="stylesheet" href="packages/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <style type="text/css" title="currentStyle">
      .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: 15px;
      margin-left: 15px;
      width: auto;
      }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="packages/jquery-1.11.0/jquery.min.js"></script>
    <script src="packages/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>

  <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://choderalab.github.io/kinome-data/">kinome-data</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kinase expression constructs<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://choderalab.github.io/kinome-data/kinase_constructs-sgc_and_hip.html">SGC/HIP plasmids (custom selection)</a></li>
                <li><a href="http://choderalab.github.io/kinome-data/kinase_constructs-sgc_and_hip-unfiltered.html">SGC/HIP plasmids (all data)</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/choderalab">choderalab@GitHub</a></li>
            <li><a href="http://www.choderalab.org/">choderalab.org</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
{% block content %}
{% endblock %}
</body>
</html>
