<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Chivo:900" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css" title="currentStyle">
        @import "javascript/DataTables-1.9.4/media/css/demo_page.css";
        @import "javascript/DataTables-1.9.4/media/css/demo_table.css";
        .FixedHeader_Cloned th { background-color: white; text-align: center }
        .FixedHeader_Cloned thead { border: 1px solid black; }
        td.index { background-color: white; border-right: 1px solid black; }
       /*  table.display th.sorting_disabled { border-bottom: 0px solid black; } */
    </style>
    <script type="text/javascript" language="javascript" src="javascript/DataTables-1.9.4/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="javascript/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="javascript/DataTables-1.9.4/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" language="javascript" src="javascript/DataTables-1.9.4/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" language="javascript" src="javascript/DataTables-1.9.4/extras/FixedColumns/media/js/FixedColumns.js"></script>
    <script type="text/javascript" charset="utf-8">

    jQuery.fn.dataTableExt.oSort['numeric-null-asc']  = function(a,b) {
        if (a == "--" && b == "--") {
            x = y = -1;
        }
        else if (a == "--") {
            x = -1;
            y = parseFloat( b );
        }
        else if (b == "--") {
            x = parseFloat( a );
            y = -1;
        }
        else {
            x = parseFloat( a );
            y = parseFloat( b );
        }
        return ((x < y) ? -1 : ((x > y) ?  1 : 0));
    };

    jQuery.fn.dataTableExt.oSort['numeric-null-desc']  = function(a,b) {
        if (a == "--" && b == "--") {
            x = y = -1;
        }
        else if (a == "--") {
            x = -1;
            y = parseFloat( b );
        }
        else if (b == "--") {
            x = parseFloat( a );
            y = -1;
        }
        else {
            x = parseFloat( a );
            y = parseFloat( b );
        }
        return ((x < y) ?  1 : ((x > y) ? -1 : 0));
    };

    $(document).ready(function() {

        var mainTable = $('#maintable').dataTable( {
           /*  "aaSorting": [[ 0, "asc" ]], */
            "bPaginate": false,
            "bAutoWidth": true,
            "sDom": 'Rlfrtip',
            "fnDrawCallback": function ( oSettings ) {
                /* Need to redo the counters if filtered or sorted */
                if ( oSettings.bSorted || oSettings.bFiltered ) {
                    for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ ) {
                        $('th:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                    }
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "sClass": "index", "aTargets": [ 0 ] },
                { "sType": "numeric-null", "aTargets": [ 10, 11 ] },
            ],
            "oColReorder": {
                "iFixedColumns": 1
            },
        } );

        new FixedHeader( mainTable );

    } );
    </script>
  </head>
  <body>
    <div id="leftjstfdpage">
      <div id="container">
        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>
        <h4>Notes</h4>
        Click on the targetID to see sequence alignment.
        <br/>
        <br/>
        <li><strong>targetID</strong>: matching UniProt entry name followed by the target domain index</li>
        <li><strong>DB_target_rank</strong>: TargetExplorer database target rank</li>
        <li><strong>plasmid_nconflicts_in_domain</strong>: number of conflicts between plasmid and UniProt sequence in the region of the target domain</li>
        <li><strong>plasmid_nextraneous_residues</strong>: number of plasmid insert residues outside the matched target domain</li>
        <li><strong>nPDBs</strong>: number of PDBs matched by ExpressionExplorer</li>
        <li><strong>top_pdb_ID</strong>: top-ranked PDB (and chain ID)</li>
        <li><strong>top_pdb_expr_tag</strong>: type of expression tag detected for top-ranked PDB construct</li>
        <li><strong>top_pdb_auth_score</strong>: authenticity score assigned to top-ranked PDB construct</li>
        <li><strong>top_pdb_nextraneous_residues</strong>: number of residues outside the matched target domain for the top-ranked PDB construct</li>
        <li><strong>top_pdb_taxon</strong>: source organism for the top-ranked PDB construct</li>
        <br/>
        <table class="display" id="maintable">
          {{maintable}}
        </table>
      </div>
    </div>
  </body>
</html>
