{% extends "base.html" %}
{% block head %}
    <meta name="description" content="Kinase expression construct selection table">
    <meta name="author" content="Daniel L. Parton">
    <title>Kinase expression construct selection</title>

    <style type="text/css" title="currentStyle">
      @import "packages/DataTables-1.9.4/media/css/demo_page.css";
      @import "packages/DataTables-1.9.4/media/css/demo_table.css";

      .description_table {
        border-collapse: separate;
        background-color: #f5f5f5;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 10px;
      }
      .description_table th {
        text-align: right;
        border-right: 1px solid #ccc;
        padding-right: 15px;
      }
      .description_table td {
        padding: 2px 15px;
      }

      table#maintable {
          border: 0px;
      }
      #maintable th {
          text-align: center;
         /*  background-color: #FFF; */
          border: 0px;
      }
      #maintable td {
          border: 0px;
      }

      /* Don't display the DataTables search box */
      .dataTables_filter {
        display: none;
      }

      .FixedHeader_Cloned th { background-color: white; text-align: center }
      .FixedHeader_Cloned thead { border: 1px solid black; }
      td.index { background-color: white; border-right: 1px solid black; }
     /*  table.display th.sorting_disabled { border-bottom: 0px solid black; } */
    </style>
    <script type="text/javascript" language="javascript" src="packages/DataTables-1.9.4/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="packages/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="packages/DataTables-1.9.4/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" language="javascript" src="packages/DataTables-1.9.4/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" language="javascript" src="packages/DataTables-1.9.4/extras/FixedColumns/media/js/FixedColumns.js"></script>
    <script type="text/javascript" charset="utf-8">

    {% if display_filters %}
    /* Custom filtering function which will filter data in column four between two values */
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var iMax = document.getElementById('db_target_rank_max').value * 1;
            var iValue = aData[2] == "--" ? 0 : aData[2]*1;
            if ( iMax == "" )
            {
                return true;
            }
            else if ( iValue < iMax )
            {
                return true;
            }
            return false;
        }
    );
    {% endif %}

    jQuery.fn.dataTableExt.oSort['numeric-null-asc']  = function(a,b) {
        if (a == "--" && b == "--") {
            x = y = -1;
        }
        else if (a == "--") {
            x = -1;
            y = parseFloat( b );
        }
        else if (b == "--") {
            x = parseFloat( a );
            y = -1;
        }
        else {
            x = parseFloat( a );
            y = parseFloat( b );
        }
        return ((x < y) ? -1 : ((x > y) ?  1 : 0));
    };

    jQuery.fn.dataTableExt.oSort['numeric-null-desc']  = function(a,b) {
        if (a == "--" && b == "--") {
            x = y = -1;
        }
        else if (a == "--") {
            x = -1;
            y = parseFloat( b );
        }
        else if (b == "--") {
            x = parseFloat( a );
            y = -1;
        }
        else {
            x = parseFloat( a );
            y = parseFloat( b );
        }
        return ((x < y) ?  1 : ((x > y) ? -1 : 0));
    };

    $(document).ready(function() {

        var mainTable = $('#maintable').dataTable( {
           /*  "aaSorting": [[ 0, "asc" ]], */
            "bPaginate": false,
            "bAutoWidth": true,
            "sDom": 'Rlfrtip',
            "fnDrawCallback": function ( oSettings ) {
                /* Need to redo the counters if filtered or sorted */
                if ( oSettings.bSorted || oSettings.bFiltered ) {
                    for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ ) {
                        $('th:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                    }
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "sClass": "index", "aTargets": [ 0 ] },
                { "sType": "numeric-null", "aTargets": [ 10, 11, 16, 17 ] },
            ],
            "oColReorder": {
                "iFixedColumns": 1
            },
        } );

        {% if display_filters %}
        /* Add event listeners to the range filtering inputs */
        $('#db_target_rank_max').keyup( function() { mainTable.fnDraw(); } );
        {% endif %}

        new FixedHeader( mainTable );

    } );
    </script>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1>Kinase expression constructs</h1>
        <h2>Information</h2>
        {% block customselectioninfotext %}
        {% endblock %}
        <h4>Description of table fields with details of selection procedure:</h4>
        <table class="description_table">
          <tr>
          <th>targetID</th>
          <td>Kinase domain targets are given an identifier consisting of UniProt entry name followed by the kinase domain index (since some kinases have two catalytic domains)</td>
          </tr>
          <tr>
          <th>DB_target_rank</th>
          <td>Qualitative ranking of human kinase importance, based on metrics such as number of bioassays, number of PDBs, number of publications, % mutation rate in sequenced tumor samples</td>
          </tr>
          <tr>
          <th>plasmid_ID</th>
          <td>For a given kinase target, all matching plasmids from the available plasmid libraries (see plasmid_source) are aligned and sorted based on nconflicts and nextraneous_residues (see below), and the top-ranked plasmid is selected (click the targetID to see the alignment)</td>
          </tr>
          <tr>
          <th>plasmid_source</th>
          <td>Source of the top-ranked plasmid. Two plasmid libraries are currently available to the Chodera lab - SGC Oxford and HIP pJP1520. Only SGC Oxford plasmids suitable for <i>E. coli</i> expression are included in this selection procedure.</td>
          </tr>
          <tr>
          <th>plasmid_nconflicts</th>
          <td>Number of conflicts between plasmid and UniProt sequence in the region of the target domain</td>
          </tr>
          <tr>
          <th>plasmid_nextraneous_residues</th>
          <td>Number of plasmid residues outside the target domain region</td>
          </tr>
          <tr>
          <th>nPDBs</th>
          <td>Number of PDB constructs matching the target gene, from <i>any species</i>, and with an <i>E. coli</i> expression system annotation</td>
          </tr>
          <tr>
          <th>top_pdb_ID</th>
          <td>Matching PDB constructs are ranked by auth_score (see below), nextraneous_residues, and nconflicts, and the top-ranked PDB (and chain ID) is selected</td>
          </tr>
          <tr>
          <th>top_pdb_expr_tag</th>
          <td>Type of expression tag detected for top-ranked PDB construct</td>
          </tr>
          <tr>
          <th>top_pdb_auth_score</th>
          <td>Authenticity score assigned to top-ranked PDB construct based on the expression tag detected. Currently this is only used to distinguish between constructs with expression tags (auth_score &gt; 0) and those without (auth_score = 0)</td>
          </tr>
          <tr>
          <th>top_pdb_nextraneous_residues</th>
          <td>Number of PDB construct residues outside the target domain region</td>
          </tr>
          <tr>
          <th>family</th>
          <td>UniProt protein family annotation</td>
          </tr>
          <tr>
          <th>top_pdb_taxname</th>
          <td>Source organism of the top-ranked PDB construct</td>
          </tr>
          <tr>
          <th>selected_construct_source</th>
          <td>Selected constructs will ultimately be full-length SGC Oxford plasmids or PDB constructs (to be subcloned from either SGC Oxford or HIP plasmids).</td>
          </tr>
          <tr>
          <th>selected_construct_nextraneous_residues</th>
          <td>nextraneous_residues for the selected construct</td>
          </tr>
        </table>
        <h4>Other notes:</h4>
        Sort table by clicking on column headers. Shift-click for multicolumn sorting. Drag-click to rearrange columns. Refresh page to reset.<br/>
        Click on the targetID to see alignments of plasmids and PDB constructs against the target UniProt sequence (kinase catalytic domain highlighted in red).
      </div>

    </div> <!-- /container -->

  <div class="container">
    <h2>Table of kinase expression constructs</h2>
    {% if display_filters %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Filters</h4>
      </div>
      <div class="panel-body">
        <table class="description_table" border="0" cellspacing="5" cellpadding="5">
          <tr>
            <th>DB_target_rank (max):</th>
            <td><input type="text" id="db_target_rank_max" name="db_target_rank_max"></td>
          </tr>
        </table>
      </div>
    </div>
    {% endif %}
    <table class="display" id="maintable">
      {{maintable}}
    </table>
  </div>
{% endblock %}
