{% extends "expression-construct-table.html" %}
{% block customselectioninfotext %}
  <h4>Background:</h4>
    The aim is to select a panel of 96 kinases suitable for <i>E. coli</i> expression in 96-well plates.
    <br/>
    Ideally, the kinase catalytic domain is to be expressed in isolation.
    <br/>
    Two plasmid libraries are currently available to the Chodera lab: SGC Oxford plasmids, which have been confirmed as expressible, and Harvard HIP pJP1520, which have not.
    <br/>
    The PDB is used here as a source of constructs which have been successfully expressed. For each kinase target, the PDB is searched for matching constructs from any species, expressed in <i>E. coli</i>.
  <h4>Custom selection procedure:</h4>
  <ul class="list-group">
    <li>All kinase domain targets with a matching SGC Oxford plasmid suitable for <i>E. coli</i> expression.</li>
    <li>Plus all other kinase domain targets which have a matching HIP pJP1520 plasmid, as well as at least one matching PDB construct from any species, expressed in <i>E. coli</i>, and with an authenticity score of &gt; 0.</li>
    <li>Each kinase domain target may thus be matched with plasmid and/or PDB constructs. The construct with the lowest number of extraneous residues outside the catalytic domain region will be selected for expression testing.</li>
    <li>PDB construct sequences, if selected, will be mapped onto matching plasmid sequences and subcloned.</li>
  </ul>
  <h4>In formal notation:</h4>
  <!-- <p><pre>( ( <span class="text-primary">plasmid_nextraneous_residues</span> &lt; 40 ) or ( <span class="text-primary">nPDBs</span> &gt; 0 and <span class="text-primary">top_pdb_auth_score</span> &gt; 0 ) ) and <span class="text-primary">DB_target_rank</span> &lt; 450</pre></p> -->
  <!-- <p><pre>( <span class="text-primary">top_pdb_auth_score</span> &gt; 0 and <span class="text-primary">top_pdb_nextraneous_residues</span> &lt; 100 ) or ( <span class="text-primary">plasmid_nextraneous_residues</span> &lt; 100 and <span class="text-primary">plasmid_source</span> == "SGC Oxford" )</pre></p> -->
  <p><pre>( <span class="text-primary">plasmid_source</span> = "SGC Oxford") or ( <span class="text-primary">nPDBs</span> &gt; 0 and <span class="text-primary">top_pdb_auth_score</span> &gt; 0 )</pre></p>
{% endblock %}
