{% extends "base.html" %}
{% block head %}
  <meta name="description" content="kinome-data">
  <meta name="author" content="Daniel L. Parton">
  <style type="text/css" title="currentStyle">
    .centercontainer {
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 768px;
    }
    .centercontainer .jumbotron {
    border-radius: 6px;
    text-align: center;
    }
  </style>
  <title>kinome-data</title>
{% endblock %}
{% block content %}
  <div class="centercontainer">
    <div class="jumbotron">
      <h1>kinome-data</h1>
    </div>
  </div>
{% endblock %}
